*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}
body{
  font-family: 'Courier New', Courier, monospace;
  background:#222;
  color: #eaeaeaea;
  font-size: 2rem;
  overflow: hidden
}
.btn{
  font-family: inherit;
  padding:1rem 2rem ;
  font-size: 1.5rem;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 1rem 2rem rgba(0 0 0 /0.2)
}
.btn:hover{
  background-color: teal;
  color: #eaeaeaea;
}
.game-screen{
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.game-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.between{
  font-weight: bold;
}

.game-title{
  text-align: center;
  font-size: 3rem;
}
.game-correct-answer{
  background-color: teal;
  width: 10rem;
  height: 10rem;
  border-radius: 10px;
  align-self: center;
  display: grid;
  place-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  box-shadow: 0 1rem 2rem rgba(0 0 0 /0.2)

}
.game-guess-scereen{
  display: flex;
  justify-content: space-between;
}
.check-screen{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.input-number{
  font-size: 3rem;
  max-width: 15rem;
  font-family: inherit;
  color: #222;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
}
.chack{
  width:10rem;
  box-shadow: 0 1rem 2rem rgba(0 0 0 /0.2)
  
}
.score-screen{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-weight: bold;
}